@import '../modules/header.css';

body {
    font-family: 'Bellota Text', cursive;
    font-weight: 400;
    height: 200vh;
}

.container-relative {
    position: relative;
}

.main-page {
    position: relative;
}

.logo:hover {
    color: var(--light-green);
}

.main-first-screen {
    min-height: 750px;
    height: 95vh;
    background: var(--light-green);
}

.main-first-screen__inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-title {
    font-size: 60px;
    width: 600px;
    display: block;
}

.main-first-screen__image {
    position: absolute;
    bottom: -5%;
    right: -35%;
    height: 83%;
    width: auto;
    object-fit: contain;
    pointer-events: none;
}

.blob-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.blue-blob_animated {
    width: 706px;
    height: 594px;
    position: absolute;
    background: url('../../img/blob-static.svg') no-repeat;
    background-size: contain;
    background-position: center;
    bottom: -79px;
    right: -389px;
}

.top-blue-blob {
    transition: height 0.6s ease;
    width: 778px;
    height: 721px;
    position: absolute;
    background: url('../../img/blue-blob.svg') no-repeat;
    background-size: contain;
    background-position: center;
    top: -509px;
    left: -270px;
}

.top-orange-blob {
    transition: height 0.5s ease;
    width: 747px;
    height: 721px;
    position: absolute;
    background: url('../../img/orange-blob.svg') no-repeat;
    background-size: contain;
    background-position: center;
    top: -489px;
    left: -253px;
}

.top-blue-blob.logo-hovered {
    height: 732px;
}

.top-orange-blob.logo-hovered {
    height: 750px;
}
