body {
    font-family: 'Bellota Text', cursive;
    font-weight: 400;
    background: url("../../img/laps-orange.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.vet-service-page {

}

.vet-service-page__inner {
    padding: 250px 0;
}

.vet-service-page__title {
    margin-bottom: 50px;
}



.vet-service__list {
    display: flex;
    flex-wrap: wrap;
}

.vet-service__item {
    width: 29.75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    background: var(--light-green-gradient);
    border: 1px solid rgba(0, 133, 111, 0.25);
    margin: 20px;
}

.vet-service__item-inner {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.vet-service__item-icon {
    width: 82px;
    height: auto;
    pointer-events: none;
}

.vet-service__name {
    font-size: 20px;
}

.vet-service__item-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
