.vet-header .uk-navbar-dropdown {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
    background: var(--light-green);
    color: var(--black);
}

.vet-navbar {
    display: flex;
    align-items: center;
}

.vet-header .uk-divider-vertical {
    height: 50px;
    margin: 0 10px;
}

.vet-header.filled.market {
    background: #ffa956;
}

.vet-header.filled .uk-navbar-container {
    color: var(--white);
}

.vet-header {
    position: fixed;
    height: 150px;
    width: 100%;
    transition: all 0.2s ease;
    z-index: 1000;
}

.vet-header .uk-navbar-nav > li > a {
    min-height: 1.2em;
}

.vet-navbar .uk-navbar-container li > a {
    font-family: 'Comfortaa', sans-serif;
}

.vet-header .blob-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.vet-header.filled {
    height: 100px;
    background: var(--light-blue);
}

.vet-header .top-blue-blob {
    transition: opacity 0.5s ease, height 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.vet-header.filled .top-blue-blob {
    opacity: 1;
}

.vet-header.filled .top-blue-blob.logo-hovered {
    opacity: 0.6;

}

.vet-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.vet-header .logo {
    position: relative;
    z-index: 1005;
    display: block;
    color: var(--white);
}

.vet-profile-link img {
    height: 40px;
}

.header-blob-wrap {
    transition: opacity 0.4s ease;
}

.market-nav-item.active {
    color: var(--main-orange);
    pointer-events: none;
    cursor: default;
}

.filled .market-nav-item.active {
    color: var(--light-green);
}
