.vet-header .uk-navbar-dropdown {
    box-shadow: none;
    background: var(--light-blue);
    color: var(--white);
}

.vet-navbar {
    display: flex;
    align-items: center;
}

.vet-header .uk-divider-vertical {
    height: 60px;
    margin: 0 10px;
}

.vet-header.filled .uk-navbar-container {
    color: var(--white);
}

.vet-header {
    position: fixed;
    height: 150px;
    width: 100%;
    transition: all 0.2s ease;
    z-index: 1000;
}

.vet-header .uk-navbar-nav > li > a {
    min-height: 1.2em;
}

.vet-navbar .uk-navbar-container li > a {
    font-family: 'Comfortaa', sans-serif;
}

.vet-header .blob-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.vet-header.filled {
    height: 100px;
    background: var(--light-blue);
}

.vet-header .top-blue-blob {
    transition: opacity 0.2s ease;
    z-index: -1;
    opacity: 0;
}

.vet-header.filled .top-blue-blob {
    opacity: 1;
}

.vet-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.vet-header .logo {
    display: block;
    color: var(--white);
}
